.panda-loyaty-banner {
  width: 100%;
  position: relative;
  height: 100vh;
  background: #ffef86;
}
.panda-loyaty-banner > img {
  width: 765rem;
  height: 657rem;
  object-fit: contain;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 17rem 21rem;
  transition: transform 0.5s;
  /* transform: translateY(150rem);
  opacity: 0;
  transition: 2s all ease; */
}
.panda-loyaty-banner > img:hover {
  -ms-transform: scale(1.02);
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
}
.panda-loyaty-banner > .group-banner-content {
  display: flex;
  padding: 10% 0 0 98rem;
  position: absolute;
}
.group-banner-content h1 {
  font-weight: 900;
  font-size: 64rem;
  color: #104b0b;
}
