@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

html {
  font-size: 0.06344444444vw;
  font-style: normal;
  font-family: "Lexend", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
::-webkit-scrollbar {
  width: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
@media only screen and (max-width: 1024px) {
  html {
    font-size: 0.13440860215vw;
    overflow-x: hidden;
  }
  ::-webkit-scrollbar {
    height: 1rem;
    width: 1rem;
    background: gray;
  }
  ::-webkit-scrollbar-thumb:horizontal {
    background: #000;
    border-radius: 3rem;
  }
}

@media only screen and (max-width: 740px) {
  html {
    font-size: 0.26666666666vw;
    overflow-x: hidden;
  }
}
